{
	admin off
	# Отключаем automatic HTTP/ACME и слушивание 80 порта
	auto_https off

	servers {
		protocols h1 h2
		timeouts {
			read_header 10s
			read_body 60s
		}
	}
}

{$TPROXY_HOSTNAME}:443 {
	# Указываем путь к вашим готовым сертификатам
	tls /root/cert/endpoint.hy2.fun/fullchain.pem /root/cert/endpoint.hy2.fun/privkey.pem

	encode zstd gzip
	header {
		-Via
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
	}
	reverse_proxy 127.0.0.1:8080 {
		transport http {
			response_header_timeout 40s
		}
	}

	handle_errors {
		header {
			Cache-Control "no-store"
			Strict-Transport-Security "max-age=31536000; includeSubDomains"
		}
		respond "{http.error.status_code} {http.error.status_text}" {http.error.status_code}
	}
}
